.cf:after {
  content: "";
  display: table;
  clear: both;
}

div {
    box-sizing: border-box;
}

.picWrapper {
	border: 5px solid black;
	width: 1000px;
	height: 700px;
	margin: 0 auto;
}

.picSelector {
	width: 20%;
	background: lightgrey;
	height: 600px;
	border-right: 5px solid black;
	text-align: center;
}

.picDisplay {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	width: 80%;
	background: lightgrey;
	height: 600px;
}

#homePic {
	margin: 0 auto;
	height: 100%;
}

.shutters {
	height: 150px;
}
.mb {
	margin-bottom: 20px;
}
.picFooter {
	border-top: 5px solid black;
	width: 100%;
	margin-top: 600px;
	height: 100px;
	text-align: center;
}

html {
	background: gray;
}

.fLeft {
	float: left;
}


.cf:after {
  content: "";
  display: table;
  clear: both;
}

.draggable {
    cursor: move;
}
.resizable {
  display: inline;
  float: left;
  position: absolute;
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.res1 {
	background-image: url("bahama.png");
}

.res2 {
	background-image: url("boardnbatten.png");
}

.res3 {
	background-image: url("shaker.png");
}
.ui-resizable-handle {
    width: 10px;
    height: 10px;
    position: absolute;
}
.ui-resizable-nw {
    left: -5px;
    top: -5px;
    cursor: nw-resize;
}
.ui-resizable-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}
.ui-resizable-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}
.ui-resizable-se {
    bottom: -5px;
    right:-5px;
    cursor: se-resize;
}
.ui-resizable-n {
    top: -5px;
    left:50%;
    cursor: n-resize;
}
.ui-resizable-s {
    bottom: -5px;
    left: 50%;
    cursor: s-resize;
}
.ui-resizable-w {
    left:-5px;
    top:calc(50% - 5px);
    cursor: w-resize;
}
.ui-resizable-e {
    right:-5px;
    top:calc(50% - 5px);
    cursor: e-resize;
}
.ui-resizable-handle {
    width: 10px;
    height: 10px;
    position: absolute;
}